body {
  background: #312b3a;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  height: 100vh;
  overflow: hidden;
}

body h1{
  text-transform: uppercase;
  font-size: 50px;
  margin-bottom: 5%;
  position: absolute;
  left: calc(50% - 150px);
}

.container {
  margin: 0;
  display: flex;
  align-items: center;
  height: 100vh;
}

.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 60vh;
  max-width: 60vh;
}

.color {
  width: 50%;
  height: 50%;
  display: inline-block;
  cursor: pointer;
}

.left {
  float: left;
}

.right {
  float: left;
}

.blue{
  background: #3063af;
  transition: .2s;
}

.blue.light{
  background: #64a2ff;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
  transform: scale(1.03);
}

.yellow {
  background-color: #c2b500;
  transition: .2s;
}

.yellow.light{
  background: #fcf486;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
  transform: scale(1.03);
}

.green{
  background-color: #24942e;
  transition: .2s;
}

.green.light{
  background-color: #6eff7a;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
  transform: scale(1.03);
}

.red{
  background-color: #772020;
  transition: .2s;
}

.red.light{
  background-color: #ff6767;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
  transform: scale(1.03);
}

.btn-start {
  cursor: pointer;
  width: 300px;
  height: 80px;
  background: #ecf0f1;
  color: #2c3e50;
  border: none;
  border-bottom: 4px solid #c4c6c7;
  border-radius: 8px;
  font-size: 2em;
  position: absolute;
  top: calc(50% - 35px);
  left: calc(50% - 150px);
  transition: .5s;
  outline: none;
}

.btn-start:hover {
  color: #ecf0f1;
  background: #312b3a;
  border-bottom: 4px solid #1f3346;
}

.btn-start:active {
  transform: scale(.95);
}

.hide{
  display: none;
}